name: Deploy to S3 Buckets

on:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Determine Bucket
        id: determine_bucket
        run: |
          if [[ "${{ github.event.release.name }}" == *"main"* ]]; then
            echo "::set-output name=bucket::therealbenforce.com"
          else
            echo "::set-output name=bucket::staging.therealbenforce.com"
          fi

      - name: Download Release Asset
        run: |
          echo "Downloading release ${{ github.event.release.name }}"
          gh release download ${{ github.event.release.name }} --dir ./release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync to S3
        run: |
          echo "Deploying release ${{ github.event.release.name }} to bucket ${{ steps.determine_bucket.outputs.bucket }}"
          aws s3 sync ./release s3://${{ steps.determine_bucket.outputs.bucket }} --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}