name: Deploy to S3 Buckets

on:
  workflow_dispatch:
    inputs:
      bucket:
        description: Select the S3 bucket to deploy to
        required: true
        type: choice
        options:
          - therealbenforce.com
          - staging.therealbenforce.com
      release:
        description: Enter release tag to deploy
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download Release Asset
        run: |
          echo "Downloading release ${{ github.event.inputs.release }}"
          gh release download ${{ github.event.inputs.release }} --dir ./release --repo TheRealBenForce/therealbenforce.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync to S3
        run: |
          echo "Deploying release ${{ github.event.inputs.release }} to bucket ${{ github.event.inputs.bucket }}"
          aws s3 sync ./release s3://${{ github.event.inputs.bucket }} --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}